h2 {color:rgb(255, 199, 108);
    background-color: rgb(131, 97, 58);}
h3 {color:lavender;
    background-color: midnightblue;}
aside {color:sienna;
    background-color:moccasin;}
nav {color:sienna;}
footer {color: #a0522d;
    background-color: moccasin;}
a:link {color:black;}
a:visited {color:pink;}
a:hover {color:magenta}
a:active {color:cornflowerblue;}
.designtools {color:rgb(255, 79, 132);}
#id1 {width: 100%;
    height: 10%;
    background-color:rgb(73, 173, 231);
    color:black;}
